<a href="https://colab.research.google.com/github/yuvakshigupta/DSMP-tasks/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
print("Data", "Science" ,"Mentorship", "Program",sep = '-', end = '-started-')
print("By","CampusX", sep = '-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
C = float(input("Enter temperature in celsius : "))
F = (9/5 * C) + 32
print(F,' F')

Enter temperature in celsius : 06.25
43.25  F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
a = int(input())
b = int(input())

# temp = a
# a = b
# b = temp

a, b = b,a

print(a)
print(b)

1
2
2
1

2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [1]:
x1 = int(input('Enter x coordinate of first point :'))
y1 = int(input('Enter y coordinate of first point :'))
x2 = int(input('Enter x coordinate of second point :'))
y2 = int(input('Enter x coordinate of second point :'))

distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print(distance)

Enter x coordinate of first point :1
Enter y coordinate of first point :2
Enter x coordinate of second point :1
Enter x coordinate of second point :2
0.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [2]:
p = float(input('Enter the principal :'))
r = int(input('Enter the rate of interest(in pa) :'))
t = int(input('Enter the time(in years) :'))

simple_interest = (p*r*t)/100
print(simple_interest)

Enter the principal :1000
Enter the rate of interest(in pa) :3
Enter the time(in years) :1
30.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
heads = int(input('Enter number of heads :'))
legs = int(input('Enter number of legs :'))

dogs = heads/2
chickens =

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [6]:
n = int(input('Enter the number :'))
sum = (n*(n+1)*(2*n+1))/6
print(sum)

Enter the number :3
14.0

\### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [7]:
t1 = int(input('Enter first term : '))
t2 = int(input('Enter second term : '))
n = int(input('Enter n to be found : '))

d = t2 - t1
an = t1 + (n-1)*d
print(an)

Enter first term : 1
Enter second term : 2
Enter n to be found : 10
10

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [11]:
num1 = int(input('Enter first numerator : '))
den1 = int(input('Enter first denominator : '))
num2 = int(input('Enter second numerator : '))
den2 = int(input('Enter second denominator : '))

sum_num = (num1*den2)*(num2*den1)
sum_den = (den1*den2)

print("Resultant fraction is :", '{}/{}'.format(sum_num,sum_den))

Enter first numerator : 1
Enter first denominator : 2
Enter second numerator : 1
Enter second denominator : 2
Resultant fraction is : 4/4

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [12]:
height = float(input('Enter the height of tank : '))
length = float(input('Enter the length of tank : '))
breadth = float(input('Enter the breadth of tank : '))

heigth = float(input('Enter the height of glass : '))
radius = float(input('Enter the radius of glass : '))

volume_tank = height*length*breadth
volume_glass = 3.14*radius*height

result = volume_tank/volume_glass
print('No. of glasses of milk :', result)

Enter the height of tank : 1
Enter the length of tank : 1
Enter the breadth of tank : 1
Enter the height of glass : 1
Enter the radius of glass : 1
No. of glasses of milk : 0.3184713375796178